.row
  .col-md-6
    %h3
      = announcement.title
      -if is_owner?(announcement)
        =link_to "Delete", announcement_path(announcement), method: :delete, class: "btn btn-danger pull-right"
        =link_to "Edit", edit_announcement_path(announcement), class: "btn btn-warning pull-right"
    %h4= announcement.create_details
    %br
    = image_tag announcement.avatar.url(:medium) {align="left"}

    %p= announcement.description
    %h4 Messages
    %ul
      -announcement.messages.each do |m|
        %li
          %strong
            = m.content
          = m.create_details
    =render 'messages/form'
    %br

  .col-md-6
    %h3
    #map{style: 'width: 100%; height: 400px;'}
.row
  =link_to "Back", announcements_path, class: "btn btn-primary"
