.row
  .col-md-6
    %h3
      = announcement_show.title
      -if is_owner?(announcement_show)
        =link_to "Delete", announcement_path(announcement_show), method: :delete, class: "btn btn-danger pull-right"
        =link_to "Edit", edit_announcement_path(announcement_show), class: "btn btn-warning pull-right"
    %h4= announcement_show.create_details
    %br
    = image_tag announcement_show.avatar.url(:medium) {align="left"}

    %p= announcement_show.description
    %h4 Messages
    %ul
      -announcement_show.messages.each do |m|
        %li
          %strong
            = m.content
          = m.create_details
    -if user_signed_in?
      =render 'messages/form'
    -else
      Please login to add message ...

    %br

  .col-md-6
    %h3
    #map{style: 'width: 100%; height: 400px;'}
.row
  =link_to "Back", announcements_path, class: "btn btn-primary"
